@import './screens/index.scss';
@import './components/index.scss';

body, #root, .app {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

// BG-COLORS
.bg-yellow {
    background-color: yellow;
}
.bg-green {
    background-color: green;
}
.bg-brown {
    background-color: brown;
}
.bg-darkmagenta {
    background-color: darkmagenta;
}
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-darkgrey {
    background-color: darkgrey;
}
.bg-white {
    background-color: white;
}

// MARGINS
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}

// WIDTHS
.w-100 {
    width: 100px;
}
.w-200 {
    width: 200px;
}
.w-250 {
    width: 250px;
}
.w-300 {
    width: 300px;
}
.w-400 {
    width: 400px;
}
.w-500 {
    width: 500px;
}
.w-600 {
    width: 600px;
}
.w-700 {
    width: 700px;
}
.w-800 {
    width: 800px;
}
.w-900 {
    width: 900px;
}
.w-1000 {
    width: 1000px;
}

// BORDERS

.no-border {
    border: none;
}

.border-bottom {
    border-bottom: 2px solid black;
}

// LINKS

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

// FLEX
.d-row {
    display: flex;
    flex-direction: row;
}

.d-column {
    display: flex;
    flex-direction: column;
}