$height: 40px;

.board-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 5px;
    z-index: 2;

    .board-row {
        height: $height;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        // border-bottom: 2px solid black;
        
        // &:nth-child(2) {
        //     border-top: 2px solid black;
        // }

        .board-col {
            display: flex;
            width: $height;
            height: $height;
            border-right: 2px solid black;
            border-top: 2px solid black;
        
            &:nth-child(2) {
                border-left: 2px solid black;
            }
        }

        .header-col {
            justify-content: center;
            align-items: flex-end;
            border-color: white;
            &:nth-child(2) {
                border-left-color: white;
            }
        }
        .letter-col {
            justify-content: flex-end;
            align-items: center;
            border-color: white;
            &:nth-child(2) {
                border-left-color: white;
            }
        }
    }
    .header-row {
        border-color: white;
        
        &:first-child {
            border-top-color: white;
        }
    }
}