.button {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px 5px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: black;
        color: white;
    }
}