.chat-container {
    position: absolute;
    top: 30%;
    left: 20px;
    height:300px;
    display: flex;
    flex-direction: column;

    .chat-content {
        height: 90%;
        overflow-y: auto;
        margin-bottom: 10px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }

        .chat-message {
            text-align: right;
        }
        .own-message {
            text-align: left;
        }
    }
    .chat-input-container {
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        input {
            height: 90%;
            border: 2px solid black;
            border-radius: 10px;
            width: 65%;
        }
        div {
            height: 100%;
            border: 2px solid black;
            border-radius: 10px;
            width: 20%;
            padding: 0px !important;
        }
    }
}