$loading: black;
$background: white;
$size: 30px;

.loading {
    position: absolute;
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});
    width: $size;
    height: $size;
    animation: loading 0.75s linear infinite;
  
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
    .loading-inner-1 {
      background: linear-gradient(to right, rgba($loading,0) 0%,rgba($loading,0) 50%,$loading 51%);
    }
    
    .loading-inner-2 {
      background: linear-gradient(to top, rgba($background,0) 0%,$background 100%);
    }
    
    .loading-inner-3 {
      $offset: $size * 0.1;
      top: $offset;
      left: $offset;
      width: $size - ($offset * 2);
      height: $size - ($offset * 2);
      background: $background;
    }
  }
  
  @keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }