.shadowbox {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px #000000bf;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    width: 100%;  
    background: white;
    z-index: 1;
}