.game {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .game-content {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .game-id-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            position: absolute;
            left: 10px;
            top: 20px;
        }

        .game-users {
            position: absolute;
            left: 20px;
            bottom: 20px;

            h2, h4 {
                text-align: center;
            }
        }

        .game-options {
            position: absolute;
            right: 10px;
            bottom: 20px;

            
            h2 {
                text-align: center;
            }
        }
        .game-pieces {
            position: absolute;
            right: 10px;
            top: 20px;

            
            h2 {
                text-align: center;
            }

            .piece {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 10px;
            }

            .marker-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                .marker {
                    border: 1px solid black;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}