.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .home-content {
        margin-top: 10%;
        width: 30%;

        .game-searcher-container {
            margin-top: 5%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}