.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-content {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
}