.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .profile-content {
        margin-top: 10%;
        width: 30%;
    }
}